body {
  background-image: url("./assets/wallpaper.png");

}

@font-face {
  font-family: "MuseoSans_500";
  src: url("./assets/MuseoSans_500-webfont.woff2") format("woff2"),
    url("./assets/MuseoSans_500-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 60px;
  padding: 25px 15px 5px;
  font-size: larger;
  font-family: MuseoSans_500;
  color: rgba(203, 65, 84, 1);
  background: rgba(255, 255, 255, 0.6);
}

.justify-content-center {
  display: flex;
  justify-content: center;
  background-color: darkblue;
}
.nav-link {
  display: block;
  padding: 0.3rem 1rem;
  color: yellow;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
